{% extends 'base.html.twig' %}

{% block title %}Panier{% endblock %}

{% block stylesheets %}

{% endblock %}

{% block body %}
    <div id="message">
        <h1>Votre panier est vide</h1>
        <a href="{{ path('app_manif') }}">Continuer vers l'agenda</a>
    </div>

    <table id="table_panier">
    <thead>
    <tr>
        <th>Article</th>
        <th>Quantité</th>
        <th>Prix unitaire</th>
        <th>Prix total</th>
        <th>Supprimer l'article</th>
    </tr>
    </thead>
    <tbody id="zone">

    </tbody>
        <tfoot>
        <tr>
            <td><button id="vider_panier">Vider le panier</button></td>
            <td id="bas" colspan="2"></td>
            <td>Total général</td>
            <td><span id="total">0</span>€</td></tr></tfoot></table>

    <div id="panier_boutons">
    <hr>

    <a class="bouton_secondaire" href="{{ path('app_manif') }}" >Retour</a>
    <form {%if not app.user%}action="{{ path('app_login') }}"{% else %} action="{{ path('app_validation') }}"{% endif %} method="post">
        <input type="hidden" name="liste" id="liste">
        <input type="submit" value="Valider ma commande.">
    </form>
    <hr>
    </div>

    <script src="{{ asset('js/scriptgeneral.js') }}"></script>
    <script src="{{ asset('js/scriptpanier.js') }}"></script>

{% endblock %}