{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <h1>Créez votre compte</h1>

<div id="registrationform">
    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Mot de passe'
        }) }}


        <button type="submit" class="btn">S'inscrire</button>
    {{ form_end(registrationForm) }}
</div>

    <script src="{{ asset('js/scriptgeneral.js') }}"></script>
{% endblock %}
