{% block content %}

{#<a href="accueil">Accueil</a> | <a href="manifs">Manifs</a> | <a href="admin">Admin</a>#}

{#{% if is_granted("ROLE_ADMIN") %} pour "si c'est un admin"
{%if app.user%} pour si c'est quelqu'un de co #}

<header>
    <div id="main-header">
        <div id="header-logo">

        </div>


        <div id="header-liens">
            <a href="{{ path('app_accueil') }}">Accueil</a> |
            <a href="{{ path('app_manif') }}">Agenda</a> |
            {% if is_granted("ROLE_ADMIN") %}<a href="admin">Admin</a> | {% endif %}
            {%if app.user%}<a href="logout">Déconnexion</a>{% endif %}
        </div>

         <div id="utilisateur-pictos">
            <a href="{{ path('app_panier') }}">panier
                {% if app.request.attributes.get('_route') != 'app_panier' and app.request.attributes.get('_route') != 'app_validation' %}
                <span id="panier">{{ app.session.get('panier')|length }}</span>
                {% endif %}</a> 
                |
            <a href="{{ path('app_login') }}">connexion / inscription</a>
        </div>
    </div>

    <div id="search-header">
        <div id="filtres-wrapper">

            <div class="dropdown">
                <button class="dropbtn">Genre</button>
                <button class="dropbtn">Lieu</button>
                <button class="dropbtn">Date</button>
            </div>

        </div>

        <div id="recherche-wrapper">
            <form>
                <input type="text" placeholder="Cherchez une manifestation.." name="search"/>
                <button type="submit">loupe</button>
            </form>
        </div>


    </div>


</header>
{% endblock %}